{% extends "layout.html" %}
{% block body %}
	<h1>About the RPI Everything Calendar</h1>
	<p>Coming into RPI from a small high school, it was a bit of a shock to realize just how many events are going on here all the time. Yet, I spent almost as much time trying to find the events as I did actually going to them. That's what this is supposed to fix. The idea for this site is that, instead of trying to get every club on board with putting all their events on one website, other people can also add them by simply taking a picture of a poster for an event and uploading it.</p>
	<p>OK, so, that sounds great, but where do I upload the pictures? Well, in an attempt to avoid spam, etc, you need a personal upload link. For more info about getting one, head over to the <a href="/info">upload info</a> page.</p>
{% endblock %}