{% extends "layout.html" %}
{% block body %}
	<h1>Edit Event - Auth</h1>
	{% if error %}
		<p class=error><strong>Error:</strong> {{ error }}
	{% endif %}
	
	
	<form method=post enctype=multipart/form-data>
		<label for="event_id">Event ID: </label><br>
		<input type="text" name="event_id"><br>
		<label for="edit_key">Event Edit Key: </label><br>
		<input type="text" name="edit_key"><br>
		<input type=submit value=Upload onclick="submitting()">
	</form>
	
	<div id="submit_message"></div>
	
{% endblock %}