{% extends "layout.html" %}
{% block body %}
	<h1>Instructions for Uploading/Editing Events</h1>
	<p>If you don't already have one, you should get a personal upload link by sending me an email at <a href="email:larsec2@rpi.edu">larsec2@rpi.edu</a> with the subject "Calendar Upload Link" and your name. At least in theory, this system should make it easier to track who uploads what.</p>
	<p>After you get an upload link, you're ready to go. To create a new event (or events), first search at least one of the dates listed on the poster to make sure it hasn’t already been uploaded. Then, follow your link and upload a picture of a poster. The poster should mostly fill the picture, and should be <i>relatively</i> well lit. Any events on the poster will be automatically created, and you will be redirected to a page with edit links for the events. <strong>Make sure to save them somewhere, you won't get these again.</strong> At this point, if you feel particularly careful, you can take a moment to double-check that the events are correct, although in most cases it's unnecessary.</p><br>
	<h2>Event/Poster Guidelines</h2>
	<p>Any events that don’t follow these guidelines will be deleted, and, depending on the offense, you may have your upload privileges revoked.</p>
	<ul>
	<li>Use common sense.</li>
	<li>No personal events. Club meetings are fine, just don't put in ads for your personal party or anything like that.</li>
	<li>Nothing explicit or offensive. If you wouldn't put it up outside DCC, don't put it on here.</li>
	</ul>
{% endblock %}